
#product-section{
     width: 100%;
     display: flex;
     /* justify-content: space-between; */
     flex-direction: column;
     gap:6rem;
}
#cards{
     width: 100%;
     display: flex;
     justify-content: space-between;
}
.product-button{
     display: flex;
     justify-content: center;
}