
nav ul li{
     list-style-type: none;
     color: #e7e7e7;
     font-size: 1.8rem;
     font-weight: 700;
     display: flex;
     font-family:"Raleway",sans-serif;
     cursor: pointer;
}
nav ul li:hover{
     color: white;
}
#navigation{
     position: relative;
     width: 100%;
     display: flex;
}
nav ul{
     display: flex;
     gap: 3rem;
}
nav{
     background-color: red;
     padding: 2rem;
     width:max-content;
     display: flex;
     position: absolute;
     right: 0;
     margin: auto;
}
