#excellence {
     width: 100%;
     background-image: url("../../../../assets/Thumbnail/stoneWallpaper.png");
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     background-position: center center;
     padding: 10rem;
     /* height: 60vh; */
}
#excellence .excellenceText{
     border: 1rem solid red;
     width: 45%;
     display: flex;
     padding: 4rem;
}

#excel {
     color: #FFF;
     font-family: "Raleway", sans-serif;
     font-size: 4rem;
     font-style: normal;
     font-weight: 700;
     line-height: 77.5px;
     /* 155% */
}

@media only screen and (max-width:900px){
     #excellence{
          padding: 4rem;
     }
     #excellence .excellenceText{
          border: 0.6rem solid red;
          width: 90%;
          padding: 2rem;
     }
     
}