nav ul li {
     list-style-type: none;
     color: #e7e7e7;
     font-size: 1.6rem;
     font-weight: 700;
     display: flex;
     font-family: "Raleway", sans-serif;
     cursor: pointer;
}

nav ul li:hover {
     color: white;
}

nav ul li .orange{
     color: orange;
}

nav {
     display: flex;     
     width: 100%;
     justify-content: flex-end;
     flex-wrap: wrap;
     margin: auto;
}


nav ul {
     display: flex;
     gap: 3rem;
     background-color: red;
     padding: 2rem;
     width: max-content;
     
}

@media only screen and (max-width:900px) {
     nav ul li {
          font-size: 1.2rem;
     }
     nav {
          justify-content: center;
     }
     nav ul{
          gap: 1.5rem;
     }
}