#footer{
     width: 100%;
     margin-top: 5rem;  
}
.app-container{
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
.content{
     flex:1;
     display: flex;
     flex-direction: column;
}

#main-content{
     flex:1;
}
#main {
     width: 100%;
     margin: auto;
     gap: 2rem;
     /* height: max-content; */
     display: flex;
}

#header {
     width: 95%;
     margin: auto;
}

#WhatWeDo {
     width: 90%;
     margin: auto;
     z-index: 10;
     margin-top: -10rem;
     background-color: white;
}

#products {
     width: 90%;
     margin: auto;
     margin-top: 5rem;
}

#qualities {
     width: 90%;
     margin: auto;
     margin-top: 8rem;
}

#cta {
     width: 90%;
     margin: auto;
     margin-top: 5rem;
     margin-bottom: 5rem;
}

/* #main-content{
     display: flex;

} */

