#main {
     width: 100%;
     margin: auto;
     gap: 2rem;
     /* height: max-content; */
     display: flex;
}

 #header {
     width: 95%;
     margin: auto;
}

#navigation {
     width: 100%;
     /* margin: auto; */
}
